{% extends 'webapp/base.html' %}


{% block body_block %}

<div class="jumbotron">
  <h2>User Details:</h2>
  <p>First Name: {{ user.first_name }}</p>
  <p>Last Name: {{ user.last_name }}</p>
  <p>Email id: {{ user.email }}</p>
</div>

<a href="{% url 'webapp:userlist' %}" class="btn btn-large btn-primary">Go back to list</a>
<br>
<a href="{% url 'webapp:userupdate' pk=user.pk %}" class="btn btn-large btn-warning">Update</a>
<br>
<a href="{% url 'webapp:userdelete' pk=user.pk %}" class="btn btn-large btn-danger">Delete</a>

{% endblock %}
